<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Fuck Cookies</title>
<meta name="author" content="name">
<meta name="description" content="fuck cookies">
<meta name="keywords" content="fuck,cookies">
<link rel="shortcut icon" href="./favicon.png">
<link rel="stylesheet" href="./css/base.css">
<link rel="stylesheet" href="./css/bonkr.css">
<link rel="stylesheet" href="./css/bonkr-buttons.css">
<style>
  body {
    overflow-x: hidden;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
  }
  #dialog-0 .dialog-inner {
    background: rgba(255,255,255,0.6);
  }
</style>
</head>

<body>

  <!-- Cookies Dialog -->
  <aside class="dialog center active" id="dialog-0" role="dialog">
    <div class="dialog-outer noevents" style="background:#F1EFEE;">
      <div class="dialog-inner noevents-clear pd-a-5" style="box-shadow:none;">

        <section class="text-center w-mx-900" style="padding-top:5rem;padding-bottom:5rem;">
          
          <h3>Welcome</h3>
          
          <p>
            This site doesn't use any cookies to enhance or degrade your experience, because <span class="text-ul">fuck cookies</span>.
          </p>
          <p>
            I mean OK, real talk - they're useful for login sessions, shopping carts, and shit. But, as-is tradition, some companies needed to track everything from your screen size to your butt wiping habits, monetize it, and now the web kinda blows.
          </p>
          
          <p>
            So... for the millionth time, you go to a site and are greeted with some stupid fucking message about cookies - with really only 1 option to proceed. Except this time, it's a little less shitty.
          </p>
          <button id="btn-post-agree" class="btn">Accept</button>
        </section>

      </div>
    </div>
  </aside>

  <!-- Main Content -->
  <article class="pd-t-6">
    <section class="mg-0-auto w-mx-800">

      <blockquote class="pd-a-5 text-center" style="font-size:1.1rem;">
        <p class="mg-b-1">
          <span id="number-agree" class="text-mono text-bold mg-r-2">&nbsp;</span>
          <span>People &amp; counting have said "Fuck Off With Your Cookies".</span>
        </p>
        <p class="text-light text-small">Created by <a href="https://nicfontaine.com">Nic Fontaine</a></p>
      </blockquote>

      <div style="height:3rem;"></div>

      <h3 class="mg-b-0">FAQ</h3>
      <hr class="mg-t-1 mg-b-6">

      <p class="text-bold mg-b-1">What about rate limiting on repeat attempts?</p>
      <p class="mg-b-6">Using <a href="https://www.npmjs.com/package/express-rate-limit" target="_blank">express-rate-limit</a>, which caches client IP in backend memory (no DB) and limits "Agree" post requests to once daily</p>

      <p class="text-bold mg-b-1">But what about LocalStorage!</p>
      <p class="mg-b-6">Right, we should probably make localstorage banners too /s</p>

      <p class="text-bold mg-b-1">Remarketing, Heatmaps, Chubspot all help enhance our marketing with user insight!</p>
      <p class="mg-b-6">Maybe your product just sucks</p>

      <p class="text-bold mg-b-1">I bet your code/stack/syntax/accessibility/webpack-config sucks</p>
      <p class="mg-b-6">Probably. <a href="https://github.com/ngpfontaine/fuckcookies" target="_blank">source</a> <span class="text-light">(github)</span></p>

      <p class="text-bold mg-b-1">Now what?</p>
      <p class="mg-b-6">I dunno, share this? Donate to <a href="https://www.eff.org">EFF</a>?</p>

      <p class="text-bold mg-b-1">What are the best cookies?</p>
      <p>Oreos are pretty good, and vegan.</p>

    </section>
  </article>

</body>

<script>

  const dom = {
    btnAgree: document.getElementById("btn-post-agree"),
    numAgree: document.getElementById("number-agree"),
    dialog: {
      welcome: document.getElementById("dialog-0")
    }
  }

  const poster = (endpoint, callback) => {
    var req = new XMLHttpRequest()
    req.open("POST", endpoint, true)
    req.onload = () => {
      // Good
      if (req.status >= 200 && req.status < 400) {
        let res = JSON.parse(req.responseText)
        let counter = res.counter
        callback(counter)
      }
      // Too many requests
      else if (req.status === 429) {
        display.main()
        alert("You hate cookies, we get it. Now fuck off.")
      }
      // Bad
      else {
        console.log("POST error to: " + endpoint + ", code: " + req.status)  
      }
    }
    req.onerror = () => {
      console.log("POST error to: " + endpoint)
    }
    req.send()
  }

  const display = {
    number: (counter) => {
      dom.numAgree.innerHTML = Number(counter).toLocaleString()
    },
    main: () => {
      dom.dialog.welcome.classList.remove("active")
    }
  }

  dom.btnAgree.addEventListener("click", () => {
    poster("/agree", (res) => {
      display.number(res)
      display.main()
    })
  })

  window.addEventListener("load", () => {
    poster("/check", display.number)
  })

</script>

<script src="./js/dialog.js"></script>

</html>
